$font_size_main: 14px;
$font_family_main: "Montserrat", sans-serif;

$font_color_main: #BDBDBD;
$font_color_hover: #ffffff;

$bg_color_main: #283046;
$bg_color_hover: #9E8CFC;
$bg_color_additional: #161D31;

$width_container: 1170px;
